@import "tailwindcss";
@import "daisyui/daisyui.css";

@keyframes news-ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-news-ticker {
  animation: news-ticker 45s linear infinite;
}
